/**
 * Styles for quiz_teacheroverview
 */
#filterstatus {
  margin-bottom: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #filterstatus .groupselector {
    margin-left: 6em; }

#filtervalue.filtered {
  border: 1px solid grey;
  padding: 3px 5px;
  position: relative;
  pointer-events: none; }

#filtervalue.filtered::after {
  content: '\00d7';
  padding-left: 4px;
  border: 1px solid grey;
  border-radius: 50%;
  color: red;
  font-weight: bold;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: -10px;
  line-height: 18px;
  background: white;
  pointer-events: all;
  cursor: pointer; }

.nvd3-svg rect,
.nvd3-svg path,
.quiz_teacheroverview_dashboard_block2 .question_details-element {
  cursor: pointer; }

#page-mod-quiz-report table#attempts .cell {
  height: 50px; }

/* Charts styling */
#page-mod-quiz-report .quiz_teacheroverview_dashboard {
  margin-bottom: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #ffffff; }
  #page-mod-quiz-report .quiz_teacheroverview_dashboard .dashboard_block-title {
    font-size: 22px;
    color: #40167c;
    font-weight: 700;
    margin-bottom: 44px;
    text-align: center; }
  #page-mod-quiz-report .quiz_teacheroverview_dashboard .quiz_teacheroverview_dashboard_block1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 65px; }
    #page-mod-quiz-report .quiz_teacheroverview_dashboard .quiz_teacheroverview_dashboard_block1 .average-grade-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      background-color: #441e84;
      border-radius: 50%;
      color: #fff;
      width: 139px;
      height: 139px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0 auto 24px; }
      #page-mod-quiz-report .quiz_teacheroverview_dashboard .quiz_teacheroverview_dashboard_block1 .average-grade-wrapper .average-grade-title {
        color: inherit;
        font-size: 1.125rem;
        font-weight: bold; }
      #page-mod-quiz-report .quiz_teacheroverview_dashboard .quiz_teacheroverview_dashboard_block1 .average-grade-wrapper .average-grade-value {
        color: inherit;
        font-size: 2rem;
        margin-bottom: 0;
        font-weight: normal; }
    #page-mod-quiz-report .quiz_teacheroverview_dashboard .quiz_teacheroverview_dashboard_block1 .average-grade-title {
      color: #000000;
      font-size: 1.125rem; }
    #page-mod-quiz-report .quiz_teacheroverview_dashboard .quiz_teacheroverview_dashboard_block1 .average-grade-value {
      font-size: 1.125rem;
      font-weight: bold;
      color: #441e84;
      margin-bottom: 1rem; }
      #page-mod-quiz-report .quiz_teacheroverview_dashboard .quiz_teacheroverview_dashboard_block1 .average-grade-value:last-child {
        margin-bottom: 0; }
  #page-mod-quiz-report .quiz_teacheroverview_dashboard .quiz_teacheroverview_dashboard_block2 {
    margin-bottom: 90px; }
    #page-mod-quiz-report .quiz_teacheroverview_dashboard .quiz_teacheroverview_dashboard_block2 .question_details-wrapper {
      max-width: 300px;
      height: 226px;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      #page-mod-quiz-report .quiz_teacheroverview_dashboard .quiz_teacheroverview_dashboard_block2 .question_details-wrapper .question_details-element {
        position: relative;
        height: 25.66%;
        width: 19.33%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-right: 7.5%;
        margin-bottom: 8%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: #fff;
        border: 1px solid #000000;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        color: #000000 !important;
        font-size: 18px;
        font-weight: bold; }
        #page-mod-quiz-report .quiz_teacheroverview_dashboard .quiz_teacheroverview_dashboard_block2 .question_details-wrapper .question_details-element:nth-child(4n) {
          margin-right: 0; }
        #page-mod-quiz-report .quiz_teacheroverview_dashboard .quiz_teacheroverview_dashboard_block2 .question_details-wrapper .question_details-element:nth-last-child(-n + 4) {
          margin-bottom: 0; }
        #page-mod-quiz-report .quiz_teacheroverview_dashboard .quiz_teacheroverview_dashboard_block2 .question_details-wrapper .question_details-element:nth-last-child(1) {
          margin-right: auto; }
      #page-mod-quiz-report .quiz_teacheroverview_dashboard .quiz_teacheroverview_dashboard_block2 .question_details-wrapper .grey::after,
      #page-mod-quiz-report .quiz_teacheroverview_dashboard .quiz_teacheroverview_dashboard_block2 .question_details-wrapper .green::after,
      #page-mod-quiz-report .quiz_teacheroverview_dashboard .quiz_teacheroverview_dashboard_block2 .question_details-wrapper .red::after,
      #page-mod-quiz-report .quiz_teacheroverview_dashboard .quiz_teacheroverview_dashboard_block2 .question_details-wrapper .yellow::after {
        content: '';
        display: block;
        height: 18px;
        width: 18px;
        border: 1px solid #000000;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        position: absolute;
        bottom: -9px;
        right: calc(50% -9px);
        z-index: 5; }
      #page-mod-quiz-report .quiz_teacheroverview_dashboard .quiz_teacheroverview_dashboard_block2 .question_details-wrapper .grey::after {
        background-color: #808080; }
      #page-mod-quiz-report .quiz_teacheroverview_dashboard .quiz_teacheroverview_dashboard_block2 .question_details-wrapper .green::after {
        background-color: #39b54a; }
      #page-mod-quiz-report .quiz_teacheroverview_dashboard .quiz_teacheroverview_dashboard_block2 .question_details-wrapper .red::after {
        background-color: #ff0000; }
      #page-mod-quiz-report .quiz_teacheroverview_dashboard .quiz_teacheroverview_dashboard_block2 .question_details-wrapper .yellow::after {
        background-color: #fff200; }

#page-mod-quiz-report .quizattemptcounts p {
  font-size: 1.375rem;
  font-weight: 600; }

#page-mod-quiz-report .btn.btn-secondary {
  height: 33px;
  border: 1px solid #40167c; }

#page-mod-quiz-report .page-main {
  background-color: #ffffff; }
  #page-mod-quiz-report .page-main .container {
    max-width: 1580px;
    padding-left: 0;
    padding-right: 0; }
    #page-mod-quiz-report .page-main .container .page-content {
      padding: 0; }
      #page-mod-quiz-report .page-main .container .page-content .panel {
        border: none; }
        #page-mod-quiz-report .page-main .container .page-content .panel #tablecontainer div .no-overflow #attempts {
          width: 100%; }

#page-mod-quiz-report #block4 svg {
  min-height: 300px; }
  #page-mod-quiz-report #block4 svg g {
    fill-opacity: 1; }

#page-mod-quiz-report #block4 .nv-chart-chart_pie {
  width: 212px;
  height: 212px; }

#page-mod-quiz-report #block4 .nvd3.nv-pie path {
  fill-opacity: 1; }

#page-mod-quiz-report #block3 .nvd3 .nv-axis .zero line,
#page-mod-quiz-report #block3 .nvd3 .nv-axis line.zero {
  stroke-opacity: 0; }

#page-mod-quiz-report #block3 .nv-discreteBarWithAxes {
  height: 209px; }

#page-mod-quiz-report #block3 svg {
  min-height: 300px; }
  #page-mod-quiz-report #block3 svg g {
    fill-opacity: 1; }

#page-mod-quiz-report #block3 .chart_label,
#page-mod-quiz-report #block4 .chart_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center; }
  #page-mod-quiz-report #block3 .chart_label span,
  #page-mod-quiz-report #block4 .chart_label span {
    display: block;
    position: relative;
    margin-right: 44px;
    font-size: 13.5px;
    color: #000000; }
    #page-mod-quiz-report #block3 .chart_label span::after,
    #page-mod-quiz-report #block4 .chart_label span::after {
      content: '';
      display: block;
      width: 17px;
      height: 17px;
      position: absolute;
      left: -23px;
      top: 2px;
      background-color: #000; }
  #page-mod-quiz-report #block3 .chart_label span:first-child,
  #page-mod-quiz-report #block4 .chart_label span:first-child {
    margin-left: 44px; }
    #page-mod-quiz-report #block3 .chart_label span:first-child::after,
    #page-mod-quiz-report #block4 .chart_label span:first-child::after {
      background-color: #260a55; }
  #page-mod-quiz-report #block3 .chart_label span:nth-child(2)::after,
  #page-mod-quiz-report #block4 .chart_label span:nth-child(2)::after {
    background-color: #A864A8; }
  #page-mod-quiz-report #block3 .chart_label span:nth-child(3)::after,
  #page-mod-quiz-report #block4 .chart_label span:nth-child(3)::after {
    background-color: #8F6FC2; }

.nvd3-svg {
  direction: ltr; }

@media (min-width: 1600px) {
  #page-mod-quiz-report .container {
    width: 1580px; }
    #page-mod-quiz-report .container .panel-body {
      padding: 30px 0; } }

@media (max-width: 1024px) {
  #filterstatus .groupselector {
    margin-left: 1em; } }


.excel-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid $border_gray;
  border-radius: 0 5px 5px 0;
  border-left: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
  background-image: url([[pix:quiz_teacheroverview|excel_icon]]);
  overflow: hidden;
}

#page-mod-quiz-report .page-content .hidden {
  display: none !important;
  visibility: hidden !important;
}

#page-mod-quiz-report .centerbuttons {
  display: flex;
  justify-content: center;
}
