<div class="quiz_teacheroverview_dashboard_block4">
    {{#block4}}
        <h3 class="dashboard_block-title">{{#str}}status, quiz_teacheroverview{{/str}}</h3>
        {{{chart}}}
        <div id="block4">
            <div class="chart_label">
                <span>{{#str}}submitted, quiz_teacheroverview{{/str}}</span>
                <span>{{#str}}notstarted, quiz_teacheroverview{{/str}}</span>
                <span>{{#str}}notsubmitted, quiz_teacheroverview{{/str}}</span>
            </div>
            <svg></svg>
        </div>
    {{/block4}}
</div>