<div class="quiz_teacheroverview_dashboard_block1">
    {{#block1}}
        <div class="average-grade-wrapper">
            <div class="average-grade-title">{{#str}}average_grade, quiz_teacheroverview{{/str}}</div>
            <div class="average-grade-value">{{averagegrade}}</div>
        </div>
        <div class="average-grade-title">{{#str}}max_grade, quiz_teacheroverview{{/str}}</div>
        <div class="average-grade-value">{{maxgrade}}</div>
        <div class="average-grade-title">{{#str}}min_grade, quiz_teacheroverview{{/str}}</div>
        <div  class="average-grade-value">{{mingrade}}</div>
        <div class="average-grade-title">{{#str}}attempts, quiz_teacheroverview{{/str}}</div>
        <div  class="average-grade-value">{{attempts}}</div>
    {{/block1}}
</div>