<div class="quiz_teacheroverview_dashboard_block3">
    {{#block3}}
        <h3 class="dashboard_block-title">{{#str}}scores_distribution, quiz_teacheroverview{{/str}}</h3>
        {{{chart}}}
        <div id="block3">
            <div class="chart_label">
                {{! <span></span>
                <span></span> }}
                <br>
            </div>
            <svg></svg>
        </div>
    {{/block3}}
</div>