<div class="container-fluid p-0">
<div class="row quiz_teacheroverview_dashboard">
  <div class="col-lg-1"></div>
  <div class="col-12 col-md-6 col-lg-2 ">{{> quiz_teacheroverview/dashboard-block1}}</div>
  <div class="col-12 col-md-6 col-lg-2">{{> quiz_teacheroverview/dashboard-block2}}</div>
  <div class="col-12 col-md-6 col-lg-4">{{> quiz_teacheroverview/dashboard-block3}}</div>
  <div class="col-12 col-md-6 col-lg-3">{{> quiz_teacheroverview/dashboard-block4}}</div>
</div>
</div>